/*
  ____                         __  __                  _                 _ 
 |  _ \    ___    ___   _ __  |  \/  |   __ _   _ __  | | __   ___    __| |
 | |_) |  / _ \  / _ \ | '__| | |\/| |  / _` | | '__| | |/ /  / _ \  / _` |
 |  __/  |  __/ |  __/ | |    | |  | | | (_| | | |    |   <  |  __/ | (_| |
 |_|      \___|  \___| |_|    |_|  |_|  \__,_| |_|    |_|\_\  \___|  \__,_|
                                                                           */

#button {
    background-color: #00223F;
    border: 2px solid #00223F;
    padding: 1%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 10%;
}

#button:hover {
    background-color:#053C54;
}




input {
    background-color: #D2C2D6;
    border-color: rgba(0,0,0,0.20); 
    border-width: 3px; 
    border-style: solid; 
    box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.30); 
    font-size: 25px; 
    padding: 6px; 
    width: 100%;
}

input:focus {
    outline: none;
}




#contentLogin {
    margin: 0 auto;
    width: 65%;
    background-color: #D2C2D6;
    padding: 3%;
    font-size: 25px;
    margin-top: 6%;
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    color: #2E2E2E;
    font-size: 30px;
    margin-bottom: 10%;
}

#loginInput {
    display: block;
    margin: 0 auto;
    width: 50%;
}

p {
    margin-bottom: 1%;
}








