/*
  ____                         __  __                  _                 _ 
 |  _ \    ___    ___   _ __  |  \/  |   __ _   _ __  | | __   ___    __| |
 | |_) |  / _ \  / _ \ | '__| | |\/| |  / _` | | '__| | |/ /  / _ \  / _` |
 |  __/  |  __/ |  __/ | |    | |  | | | (_| | | |    |   <  |  __/ | (_| |
 |_|      \___|  \___| |_|    |_|  |_|  \__,_| |_|    |_|\_\  \___|  \__,_|
                                                                           */

.title {
    display: block;
    font-size: 4rem;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
}

.highlight {
	background-color: #C6D53E;
    width: 35%;
}

body {
    background-color: #E5DCAE;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Navbar*/
#navBar {
	position: fixed;
	margin: 0 auto;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 34, 63, 0.95);
    font-size: 30px;
	font-family: 'Lobster', cursive;
}

li {
    float: left;
    border-right: 2px solid #E5DCAE; 
}

#signUp {
    border-left: 2px solid #E5DCAE;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #00a2a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #032534;
}

.active {
    background-color: #032534;
}
/*End Navbar*/

a:link {
	text-decoration: none;
/*	color: #00a2a2;
*/}

a:visited {
	text-decoration: none;
/*	color: #00a2a2;
*/
}

.subTitle {
    font-size: 35px;
    font-weight: bold;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {



/*Tablets*/
@media only screen and (min-width: 40.063em) { 











